################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################




CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_depsCMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps



# Compiled Static libraries
*.lai

*.a
*.lib

# Compiled Dynamic libraries
*.so
*.dylib
*.dll


# Executables
*.exe
*.out
*.app




ObstacleAvoidance/build/ObstacleAvoidance
*.json
